 
 .nav-item  a{

    font-weight: 800;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;


 }
 .a11{
  height:600px;
  overflow: hidden;
  z-index: 999;
  word-break: break-all;
 }
 .a112{
  height:600px;
 }
 
 .nav-item  a:hover{
   
   font-weight: 800;
   font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   color:white;
  }
  .active{
   background-color: rgb(84, 81, 81);;;
   color:white;
  }
 #navbarSupportedContent ul li a{
   padding:10px;
 }
 #navbarSupportedContent ul li a:hover{
   background-color: rgb(84, 81, 81);
   color:white;
 }
 
 .name{
    position: absolute;
    font-size: 80px;
    margin-top:150px;
    padding-left:10px;
    font-weight: 700;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    letter-spacing: 4px;
    color:rgb(84, 81, 81);
    }
    p{
        font-size: 50px;;
        font-weight: 500;
        color:rgb(84, 81, 81);
    }
    .footer{
    
      position:fixed;
      bottom:0px;
      z-index: 999999;
      
    }
    .footer i{
     float: right;
     padding:10px;
     color:white;
    }
    .footer i:hover{
      transform: scale(1.4);
     }
     .cursor {
      position: fixed;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%)scale(1.4);
      pointer-events: none;
      
      left: -100px;
      top: 50%;
      mix-blend-mode:difference;
      background-color: white;
      z-index: 9999999999;
     border: 2px solid white;
     height: 50px;
     width: 50px;
      transition: all 300ms ease-out;
      
    }
    .glitch {
      position: relative;
      overflow: hidden;
    }
    .glitch img {
      position: relative;
      z-index: 1;
      display: block;
    }
    .glitch__layers {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .glitch__layer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url(dp.jpg);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    .glitch__layer:nth-child(1) {
      transform: translateX(-5%);
      animation: glitch-anim-1 3s infinite linear alternate;
    }
    .glitch__layer:nth-child(2) {
      transform: translateX(3%) translateY(3%);
      animation: glitch-anim-2 1s -.1s infinite linear alternate;
    }
    .glitch__layer:nth-child(3) {
      transform: translateX(5%);
      animation: glitch-anim-flash 2s infinite linear;
    }
    @keyframes glitch-anim-1 {
      0% {
        clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
      }
      10% {
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
      }
      20% {
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
      }
      30% {
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
      }
      40% {
        clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
      }
      50% {
        clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
      }
      60% {
        clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
      }
      70% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
      }
      80% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      }
      90% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
      }
      100% {
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
      }
    }
    @keyframes glitch-anim-2 {
      0% {
        clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
      }
      15% {
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
      }
      25% {
        clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
      }
      30% {
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
      }
      45% {
        clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
      }
      50% {
        clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
      }
      65% {
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
      }
      75% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      }
      80% {
        clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
      }
      95% {
        clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
      }
      100% {
        clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
      }
    }
    @keyframes glitch-anim-flash {
      0% {
        opacity: .2;
      }
      30%, 100% {
        opacity: 0;
      }
    }
    .a1{
      height:90vh;
      width:100%;
    }
    
      
      
      
      .nav-pills {
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        font-weight: 700;
        --bs-nav-pills-color:rgb(84, 81, 81) !important;
       
        --bs-nav-pills-link-active-color: rgb(248, 245, 245) !important;
        --bs-nav-pills-link-active-bg: rgb(84, 81, 81) !important;
      }
      .nav {
       
       
        --bs-nav-link-color: rgb(84, 81, 81) !important;
        --bs-nav-link-hover-color: rgb(84, 81, 81) !important;
       
       
    }
    
    h1{
      font-size: 70px !important;
      font-family:ELEGANT;
      color:rgb(52, 51, 51);
      padding-top:150px;
      font-weight: 900 !important;
     
     
}
    p{
      z-index: 99999;
      color:rgb(52, 51, 51);
      font-family:ELEGANT;
      font-weight:200 !important;
      font-size: 40px;

    }
    #pills-home-tab{
      border-radius: 0px !important;
    }
    #pills-profile-tab{
      border-radius: 0px !important;
    }
    #pills-contact-tab{
      border-radius: 0px !important;
    }
    #pills-home{
      background-color: white !important;
    }
    #pills-contact{
      background-color: white !important;
    }
    .start{
      font-size: 70px !important;
      font-family:ELEGANT;
      color:rgb(52, 51, 51);
      padding-top:150px;
      font-weight: 900 !important;
    }
    .start1{
      font-size: 70px !important;
      font-family:ELEGANT;
      color:rgb(52, 51, 51);
      padding-top:150px;
      font-weight: 900 !important;
      margin-left:40px;
     
    }
    .tab1{
      height:300px;
      
    }
    .tab2{
      height:100px; 
    }
    .para{
      font-size:20px;
    }
    h2{
      
      font-family:ELEGANT;
      color:rgb(52, 51, 51);
    font-size: 70px !important;
      font-weight: 900 !important;
    }
    #pills-profile{
      background-color: white;
    }
    b{
      font-weight: 900 !important;
     
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
      
      
      font-size:16px;
      padding-bottom:20px;
     
      
     
      
    }
    .a11{
      height:auto;
      z-index: 99999;
     overflow:auto;
      
      
      
   }
    
     .pd{
      height:300px;
      margin: auto;
      overflow:auto;
     
     }
     .pd1{
      height:30px;
      margin:auto;
      margin-top:50px;
     
     }
     .html{
      font-size: 20px;
      padding:8px;
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      

     }
     .responsive{
      height: auto;
      width:100%;
     }
     @media screen and (min-width: 601px) {
      h1 {
        font-size: 80px;
      }
    }
    
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 30px;  
      }
    }
    
    
  
  
  
  

  
